body {
  background-color: #dfe4ea;
  color: #2f3542;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #34495e;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Satisfy', cursive
}

p {
  line-height: 2;
}

.intro {
  width: 30%;
  margin: auto;
}

.goku-img {
  width: 12%;
}

h2 {
  color: #2c3e50;
  font-family: 'Spectral', serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #273c75;
  font-family: 'Spectral', serif;
}

hr {
  border: dotted #7f8c8d 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.top-container {
  background-color: #8395a7;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #70a1ff;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.programming-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.rubik-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.button {
  text-decoration: none;
  text-align: right;
  border: none;
  margin: 10px;
  padding: 14px;
  width: 120px;
  font-family: 'Spectral', serif;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
  background-image: linear-gradient(to left, #1abc9c, #2ecc71, #2980b9);
  color: #fff;
  background-size: 200px;
  transform: 0.9s;
}
.button:hover {
  background-position: right;
}

a {
  color: #4834d4;
  font-family: 'Spectral', serif;
  margin: 10px 10px;
  text-decoration: none;
  font-size: 1.25rem;
}

a:hover {
  color: #130f40;
}

.copyright {
  color: #dff9fb;
  font-size: 0.75rem;
  padding-top: 20px;
}
